//SCSS Project variables

$img-dir: "../img";
$fonts-dir: "../fonts";

@include font-face-custom(
  "Avenir LTStd Book",
  "#{$fonts-dir}/Avenir/AvenirLTStd-Book"
);
@include font-face-custom(
  "Avenir LTStd Heavy",
  "#{$fonts-dir}/Avenir/AvenirLTStd-Heavy"
);
@include font-face-custom(
  "Open Sans Regular",
  "#{$fonts-dir}/Open_Sans/OpenSans-Regular"
);

$font-Avenir-LTsd-Book: "Avenir LTStd Book", sans-serif;
$font-Avenir-LTsd-Heavy: "Avenir LTStd Heavy", sans-serif;
$font-OpenSans-Regular: "Open Sans Regular", sans-serif;

//Neo font
@include font-face-custom(
  "Neo Sans std Regular",
  "#{$fonts-dir}/neo/NeoSansStd-Regular"
);

@include font-face-custom(
  "Neo Sans std Bold",
  "#{$fonts-dir}/neo/NeoSansStd-Bold"
);

$font-neo-regular: "Neo Sans std Regular", sans-serif;
$font-neo-bold: "Neo Sans std Bold", sans-serif;

$logo-height: 59px;

//new color
$color-tan: #C1AE90;

//Old Color
$color-white: #ffffff;
$color-black: #000;
$color-blue-theme: $color-tan;
$color-blue-theme-lighter: #00558c;
$color-blue-light: #01c0d5;
$color-blue-dark: #012169;
$color-orange: #ff5000;
$color-orange-lighter: #ff7200;
$color-orange-darker: #d54d00;
$color-red: #00558c;
$color-border: #969696;
$color-gray: #b6b6b6;
$color-gray-lighter: #dadada;
$color-gray-light-bg: #f7f7f7;
$color-gray-bg: #dfdada;
